.profile__edit-button {
    border: 1px solid #FFFFFF;
    background-color: #000000;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 34px;
    background-image: url(/./././image/Vector\ \(5\).png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    align-self: center;
    position: absolute;
    margin-left: 314px;
}

@media (max-width: 767px) {
    .profile__edit-button {
        margin-left: 244px;
        margin-top: 25px;
    }
}

@media (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 244px;
        margin-top: 25px;
    }
}