.popup {
    width: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);

}