.profile__edit-button {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: 18px;
    box-sizing: border-box;
    background-image: url(../../../image/carandash.svg);
    background-repeat: no-repeat;
    align-self: center;
    background-color: transparent;
    background-position: center;
    background-size: 10px 10px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 1020px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;

    }
}