.header__logo {
    width: 100%;
    max-width: 142px;
    background: #000000;
}

.header__logo:hover {
    cursor: pointer;
    background: #FFFFFF;

}

@media (max-width: 320px) {
    .header__logo {
        max-width: 103.74px;
        padding-left: 27px;
    }
}