.places {
    width: 100%;
    max-width: 68.75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-template-rows: auto auto;
    column-gap: 17px;
    row-gap: 20px;
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
}

@media (max-width: 1260px) {
    .places {
        max-width: 80%;
        gap: auto;
    }
}

@media (max-width: 550px) {
    .places {
        max-width: 282px;
        gap: 20px;
        margin: auto;
    }

}