.header__logo {
    width: 100%;
    max-width: 142px;
    background: #000000;
}

.header__logo:hover {
    cursor: pointer;
    opacity: 0.5;

}

@media (max-width: 1260px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media (max-width: 550px) {
    .header__logo {
        max-width: 103.74px;
    }
}