.header {
    padding-top: 45px;
    width: 100%;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
    margin: 0 auto;
}

@media (max-width: 550px) {
    .header {
        padding-top: 28px;
        padding-bottom: 31.6px;
        max-width: 320px;

    }
}