.places__like-ico {
    width: 22px;
    height: 19px;
    background-image: url(../../../../image/сердце.svg);
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border: 0;
    margin-right: 15px;
    background-size: contain;
    background-color: transparent;
}

.places__like-ico:hover {
    background: #FFFFFF;
    cursor: pointer;
}