.profile__title {
    max-width: 294px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    width: 100%;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media (max-width: 1020px) {
    .profile__title {
        text-align: center;
        margin-left: 32.5px;
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
    }
}