.popup__form {
    width: 100%;
    max-width: 430px;
    background-color: #FFFFFF;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 320px) {
    .popup__form {
        max-width: 238px;
    }

}