.profile__add-button {
    border: 1px solid #FFFFFF;
    padding: 0;
    height: 50px;
    width: 150px;
    align-self: center;
    margin-left: auto;
    background-image: url(../../../image/плюсик.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
}

.profile__add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .profile__add-button {
        width: 330px;
        margin: 36px auto auto;
    }
}

@media (max-width: 760px) {
    .profile__add-button {
        width: 282px;
        margin-left: 0;
    }
}