.popup__close-button {
    background-image: url(../../../image/CloseIcon.svg);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    background-color: #000000;
    background-position: 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    top: -40px;
    border: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;

}