.profile__avatar-image {
    width: 100%;
    max-width: 120px;
    height: 120px;
    margin: 0;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url(../../../image/Avatar.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: transparent;
}

@media (max-width: 320px) {
    .profile__avatar-image {
        margin: 0 auto;
    }
}