.popup__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000000;
    margin: 0;
    padding: 13px 0;
    opacity: 0.2;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__input::placeholder {
    color: #000000;
}