.profile__info {
    display: flex;
    max-width: 336px;
    width: 100%;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 22px;
    margin-bottom: 25px;

}

@media (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        margin: 0;
    }
}