.popup {
    position: fixed;
    background: #FFFFFF;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    display: flex;
    top: 195px;

}

.popup_opened {
    display: flex;
    visibility: visible;
}

@media (max-width: 320px) {
    .popup {
        top: 123px;
    }
}