.profile {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: 51px;
    margin-top: 40px;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .profile {
        flex-direction: column;
        margin: 0 auto;
        margin-top: 42px;
        margin-bottom: 36px;
    }
}